<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sign-in-up.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="left-bg">
        <h1 id="title">Exam Manager</h1>
        <div id="form_body">
            <div id="form_cont">
                <h1>Sign Up</h1>
                <form action="/sign_up" method="POST">
                    <label for="roles" id="role_label">I am a...</label>
                    <select name="role" class="input_field" id="roles">
                        <option value="null">...</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                    </select>
                    <input type="text" placeholder="Full Name" name="name" class="input_field">
                    <input type="text" placeholder="Email: username@school.edu" name="email" class="input_field">
                    <input type="text" placeholder="Password" name="password" class="input_field">
                    <span id="password_icon">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span id="password_info">Password must be 8 characters in length</span>
                    </span>
                    <a id="sign-in" href="sign_in">Already have an account? Sign in here</a>
                    <input id="submit" type="submit" value="Submit" class="input_field">
                </form>
            </div> 
        </div>
    </div>
    <div id="wave-bg-wrapper">
        <img id="wave-bg" src="../static/images/Acc-Page_backgrnd.svg" alt="">
        <img id="logo" src="../static/images/Pseudo-Logo.png" alt="">
    </div>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>