<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div id="form_body">
        <div id="form_cont">
            <h1>Sign Up</h1>
            <form action="/sign_in" methods="POST">
                <label for="roles" id="role_label">I am a...</label>
                <select name="role" class="input_field" id="roles">
                    <option value="null">...</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
                <input type="text" placeholder="Name" name="name" class="input_field">
                <input type="text" placeholder="Email" name="email" class="input_field">
                <input type="text" placeholder="Username" name="username" class="input_field">
                <input type="text" placeholder="Password" name="password" class="input_field">
                <span id="password_icon">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span id="password_info">Password must be 8 characters in length</span>
                </span>
            </form>
        </div>
        
    </div>
    <div id="wave-bg-wrapper">
        <img id="wave-bg" src="../static/images/Acc-Page_backgrnd.svg" alt="">
    </div>

    

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>