<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main-style.css">
    <title>Document</title>
</head>
<body>
    <div id="account_cont">
        <form action="/view_accounts" method="POST">
            <input type="submit" name="accounts" value="&#x1F464" id="accounts">
        </form>
        <form action="/log_out" method="POST">
            <input type="submit" name="log_out" value="Log Out" id="log_out">
        </form>
    </div>
    <h1 id="title">Tests</h1>
    <form action="/completed_tests" method="POST" id="completed_tests_form">
        <input type="submit" name="create" value="View completed">
    </form>
    {% if check %}
        <form action="/student_page" method="POST" id="back-cont">
            <input type="submit" name="back" value="Back" id="back-btn">
        </form>
    {% endif %}
    <div id="test_table">
        {% for row in test_page_tb %}
            <div class="test_cont">
                <p>{{ row.title }}</p>
                {% if row.question_count is not defined %}
                    {% if row.mark is none %}
                        <p>Not graded</p>
                    {% else %}
                        <p>{{ row.mark }} pts</p>
                    {% endif %}
                {% else %}
                    <p>{{ row.question_count }} Q's</p>
                {% endif %}
                <p class="name">{{ row.creator_name }}</p>
                    {% if row.test_id not in check_ids %}
                        <div class="test_form_cont">
                            <form action="/taking_test/{{row.test_id}}" method="POST" id="take_test">
                                <input type="submit" name="take_test" value="Start" class="student_cmds">
                            </form>
                        </div>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>