<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main-style.css">
    <title>Document</title>
</head>
<body>
    <div id="account_cont">
        <form action="" method="POST">
            <input type="submit" name="accounts" value="&#x1F464" id="accounts">
        </form>
        <form action="" method="POST">
            <input type="submit" name="log_out" value="Log Out" id="log_out">
        </form>
    </div>
    <h1 id="title">Tests</h1>
    <form action="/create_test_page" method="POST" id="create_form_cont">
        <input type="submit" name="create" value="&#128736">
    </form>
    <div id="test_table">
        {% for row in test_page_tb %}
            <div class="test_cont">
                <p>{{ row.title }}</p>
                <p>{{ row.question_count }} Q's</p>
                <p class="name">{{ row.creator_name }}</p>
                {% if row.acc_id == user_id %}
                    <div class="test_form_cont">
                        <form action="/edit_test_page/{{row.test_id}}" method="POST" id="edit">
                            <input type="submit" name="edit" value="&#9998" class="teacher_cmds">
                        </form>
                        <form action="/delete_test/{{row.test_id}}" method="POST" id="delete">
                            <input type="submit" name="delete" value="&#9747" class="teacher_cmds">
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>