<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main-style.css">
    <title>Document</title>
</head>
<body>
    <div id="account_cont">
        {% if user_id == 'student' %}
            <form action="/student_page" method="POST">
                <input type="submit" name="accounts" value="&#x1F464" id="accounts">
            </form>
        {% else %}
            <form action="/teacher_page" method="POST">
                <input type="submit" name="accounts" value="&#x1F464" id="accounts">
            </form>
        {% endif %}
        <form action="/log_out" method="POST">
            <input type="submit" name="log_out" value="Log Out" id="log_out">
        </form>
    </div>
    <h1 id="title">Accounts</h1>
    <div id="filter">
        <form action="/view_accounts" method="POST" id="t_filter_cont">
            <input type="submit" name="create" value="View All">
        </form>
        <form action="/view_accounts_teachers" method="POST" id="t_filter_cont">
            <input type="submit" name="create" value="View Teachers">
        </form>
        <form action="/view_accounts_students" method="POST" id="s_filter_cont">
            <input type="submit" name="create" value="View Students">
        </form>
    </div>
    <div id="account_title">
        <h2 class="account_info account_titles">Name</h2>
        <h2 class="account_info account_titles">Role</h2>
    </div>
    <div id="account_table">
        {% for row in accounts_tb %}
            <div class="account_cont {% if loop.index0 is even %}even{% else %}odd{% endif %}">
                <p class="account_info">{{ row.name }}</p>
                <p class="account_info">{{ row.role }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>