* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#alert{
    position: absolute;
}
/* BACKGROUND */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
#title{
    width: 100%;
    height: 10vh;
    padding: 0.5% 0 0 2%;
    font-size: 40pt;
    border-bottom: solid 5px black;
}
/* SHARED FORMAT */
#test_table{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 85vh;
    overflow-y: scroll;
    margin-bottom: 5vh;
}
.test_cont{
    display: flex;
    width: 90%;
    height: fit-content;
    border-bottom: 1px solid black;
    margin: 5% 5% 0 5%;
    border-bottom: 1px solid black;
}
#test_table p{
    font-size: xx-large;
    width: 30%;
}
.test_form_cont{
    display: flex;
    width: 10%;
}
.test_form_cont form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#create_form_cont{
    position: absolute;
    top: 15%;
    right: 3%;
}
.name{
    text-align: right;
}
#account_cont{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 2.5vh;
    right: 5%;
    width: 18vh;
}
#accounts{
    height: 5vh;
    padding: 1px 3px;
}
#log_out{
    height: 5vh;
    padding: 1px 3px;
}
/* TEACHER PAGE */
#create_form_cont input{
    font-size: 15pt;
    height: 5vh;
    width: 5vh;
}
#edit{
    border-right: 1px solid black;
}
#delete{
    border-left: 1px solid black;
}
/* STUDENT PAGE */
#take_test{
    width: fit-content;
    margin-left: 3vh;
}
.student_cmds{
    padding: 3px;
}
#completed_tests_form input{
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 3px 5px;
}
#back-btn{
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 3px 5px;
}
/* ACCOUNTS PAGE */
#account_table{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70vh;
    overflow-y: scroll;
}
#account_title{
    display: flex;
    width: 60%;
    height: 5%;
    margin-top: 3%;
}
.account_cont{
    display: flex;
    width: 100%;
    height: 5%;
}
.account_info{
    width: 50%;
    font-size: large;
    border: 1px solid black;
}
.even{
    background-color: aliceblue;
}
.odd{
    background-color: bisque;
}
.account_titles{
    font-size: xx-large;
    text-align: center;
}
#filter{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 8%;
}
#filter form{
    margin-bottom: 5px;
}
#filter form input{
    padding: 3px 5px;
    width: 100%;
}