* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BACKGROUND */
body{
    display: flex;
    overflow: hidden;
}
#left-bg{
    background-color: antiquewhite;
    width: 50%;
}
#wave-bg-wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #a2d9ff;
}
#wave-bg{
    width: 120vh;
    rotate: -85deg;
    margin-left: -69vh;
}
#logo{
    width: 50vh;
    height: 50vh;
    margin-left: -20%;
}
#title{
    height: 10vh;
    padding: 5% 0 0 5%;
}
/* FORM */
#form_body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
#form_cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
    border: 5px solid rgb(181, 170, 148);
    border-radius: 15%;
    padding: 5% 0 5% 0;
    width: 45%;
    height: fit-content;
}
form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8%;
    height: 50%;
    width: 60%;
}
.input_field{
    margin-bottom: 15px;
    width: 80%;
    height: 15%;
}
#roles{
    width: auto;
}
#role_label{
    margin: 3% 8% 0 0;
}
#password_info{
    display: none;
    position: absolute;
    margin-left: 20px;
    padding: 1px 2px 1px 2px;
    z-index: 10;
    background-color: azure;
    border: 2px solid black;
    border-radius: 25%;
}
#password_icon ion-icon{
    position: absolute;
}
#password_icon:hover #password_info{
    display: block;
}
#sign-in{
    font-size: 7pt;
}
#submit{
    margin-top: 5%;
}
#alert{
    position: absolute;
}